<div class="text-center">
  <h1>収入編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @income, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <%= f.label :price, '金額' %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :category, 'カテゴリー' %><br>
        <%= f.select :category, [["給料", "給料"], ["その他", "その他"]], :prompt => "選択してください", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :memo, 'メモ' %>
        <%= f.text_area :memo, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date, '日付' %><br>
        <%= f.date_select :date, class: 'form-control' %>
      </div>
      
      <div class="row">
        <%= f.submit '保存', class: 'btn btn-warning col-11 mx-auto mb-3 col-sm-5 mb-sm-0' %>
        <%= link_to 'この収入を削除する', @income, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger col-11 mx-auto col-sm-5 offset-sm-2' %>
      </div>
    <% end %>
    
  </div>
</div>