<% this_year = "" %>
<% this_month = "" %>

<%= month_calendar(attribute: :date, events: @incomes) do |date, incomes| %>
  <%= date.strftime("%d") %>
  <% this_year = date.strftime("%Y").to_i %>
  <% this_month = date.strftime("%m").to_i %>
  
  <% incomes.each do |income| %>
    <div>
      <%= link_to income.price, edit_income_path(income) %>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-tabs nav-justified my-4">
  <li class="nav-item"><%= link_to '月別収支', root_url, class:"nav-link" %></li>
  <li class="nav-item"><%= link_to 'カテゴリー別支出一覧', expenditures_path, class:"nav-link" %></li>
  <li class="nav-item"><%= link_to 'カテゴリー別収入一覧', incomes_path, class:"nav-link active" %></li>
</ul>

<!--<table class="table table-striped">-->
<!--  <th><%= this_month.to_i - 1 %>月の支出</th><th></th><th></th>-->
<!--  <% total_price = 0 %>-->
<!--  <% @incomes.each do |income| %>-->
<!--    <% if income.date.strftime("%Y").to_i == this_year && income.date.strftime("%m").to_i == this_month -1 && income.category == '給料' %>-->
<!--      <% total_price += income.price %> -->
<!--    <% end %>-->
<!--  <% end %>-->
<!--  <tr><td>日用品</td><td></td><td><%= total_price %></td></tr>-->
<!--</table>-->

<table class="table">
  <tr style="background-color:#eee"><th><%= this_month.to_i - 1 %>月のカテゴリー別収入</th><th></th><th></th></tr>
  <% total_price = 0 %>
  <% salary = 0 %>
  <% etcetera = 0 %>
  <% @incomes.each do |income| %>
    <% if income.date.strftime("%Y").to_i == this_year && income.date.strftime("%m").to_i == this_month -1 && income.category == '給料' %>
      <% salary += income.price %>
    <% elsif income.date.strftime("%Y").to_i == this_year && income.date.strftime("%m").to_i == this_month -1 && income.category == 'その他' %>
      <% etcetera += income.price %>
    <% end %>
  <% end %>
  <tr><td>給料</td><td></td><td><%= salary %></td></tr>
  <tr><td>その他</td><td></td><td><%= etcetera %></td></tr>
</table>

<div class="row text-center">
  <div class="col-md-4 p-3" style="background-color:#ffe0bd"><%= link_to 'カレンダー', root_url %></div>
  <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出追加', new_expenditure_path %></div>
  <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出一覧', expenditures_path %></div>
</div>