<% if logged_in? %>

  <% this_year = "" %>
  <% this_month = "" %>

  <%= month_calendar(attribute: :date, events: @expenditures_or_incomes) do |date, expenditures_or_incomes| %>
    <%= date.strftime("%d") %>
    <% this_year = date.strftime("%Y").to_i %>
    <% this_month = date.strftime("%m").to_i %>
    
    <% expenditures_or_incomes.each do |expenditure_or_income| %>
      <% if expenditure_or_income.class.name == 'Expenditure' %>
        <div>
          <%= link_to expenditure_or_income.price, edit_expenditure_path(expenditure_or_income), :style=>"color:red;" %>
        </div>
      <% else %>
        <div>
          <%= link_to expenditure_or_income.price, edit_income_path(expenditure_or_income) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
  <ul class="nav nav-tabs nav-justified my-4">
    <li class="nav-item"><%= link_to '月別収支', root_url, class:"nav-link active" %></li>
    <li class="nav-item"><%= link_to 'カテゴリー別一覧', expenditures_path, class:"nav-link" %></li>
  </ul>
  
  <table class="table">
    <th style="background-color:#eee"><%= this_month.to_i - 1 %>月の支出</th><th style="background-color:#eee"></th><th style="background-color:#eee"></th>
    <% expenditure_month_total_price = 0 %>
    <% @expenditures.each do |expenditure| %>
      <% if expenditure.date.strftime("%Y").to_i == this_year && expenditure.date.strftime("%m").to_i == this_month -1 %>
        <tr><td><%= expenditure.date.strftime("%m月%d日") %></td><td><%= expenditure.category %></td><td><%= link_to expenditure.price, edit_expenditure_path(expenditure), :style=>"color:red;" %></td></tr>
        <% expenditure_month_total_price += expenditure.price %> 
      <% end %>
    <% end %>
    <tr><td>支出合計金額</td><td></td><td><%= expenditure_month_total_price %></td></tr>
    
    <th style="background-color:#eee"><%= this_month.to_i - 1 %>月の収入</th><th style="background-color:#eee"></th><th style="background-color:#eee"></th>
    <% income_month_total_price = 0 %>
    <% @incomes.each do |income| %>
      <% if income.date.strftime("%Y").to_i == this_year && income.date.strftime("%m").to_i == this_month -1 %>
        <tr><td><%= income.date.strftime("%m月%d日") %></td><td><%= income.category %></td><td><%= link_to income.price, edit_income_path(income) %></td></tr>
        <% income_month_total_price += income.price %> 
      <% end %>
    <% end %>
    <tr><td>収入合計金額</td><td></td><td><%= income_month_total_price %></td></tr>
    
    <th style="background-color:#eee"><%= this_month.to_i - 1 %>月の収支</th><th style="background-color:#eee"></th><th style="background-color:#eee"></th>
    <% total_price = expenditure_month_total_price - income_month_total_price %>
      <tr><td>支出：<%= expenditure_month_total_price %></td><td>収入：<%= income_month_total_price %></td><td>合計：<%= total_price %></td></tr>
  </table>
  
  <div class="row text-center">
    <div class="col-md-4 p-3" style="background-color:#ffe0bd"><%= link_to 'カレンダー', root_url %></div>
    <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出追加', new_expenditure_path %></div>
    <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出一覧', expenditures_path %></div>
  </div>
<% else %>
  <div class="text-center center jumbotron" style="background-color:#ffd">
    <h1>家計簿をつけよう！！</h1>
    <%= link_to '今すぐ登録！', signup_path, class: 'btn btn-lg btn-warning' %>
  </div>
<% end %>