<% if logged_in? %>

  <% this_year = "" %>
  <% this_month = "" %>

  <%= month_calendar(attribute: :date, events: @expenditures) do |date, expenditures| %>
    <%= date.strftime("%d") %>
    <% this_year = date.strftime("%Y").to_i %>
    <% this_month = date.strftime("%m").to_i %>
    
    <% expenditures.each do |expenditure| %>
      <div>
        <%= link_to expenditure.price, edit_expenditure_path(expenditure) %>
      </div>
    <% end %>
  <% end %>
  
  <ul class="nav nav-tabs nav-justified my-4">
    <li class="nav-item"><%= link_to '月別収支', root_url, class:"nav-link active" %></li>
    <li class="nav-item"><%= link_to 'カテゴリー別一覧', expenditures_path, class:"nav-link" %></li>
  </ul>
  
  <table class="table table-striped">
    <th><%= this_month.to_i - 1 %>月の収支</th><th></th><th></th>
    <% total_price = 0 %>
    <% @expenditures.each do |expenditure| %>
      <% if expenditure.date.strftime("%Y").to_i == this_year && expenditure.date.strftime("%m").to_i == this_month -1 %>
        <tr><td><%= expenditure.date.strftime("%m月%d日") %></td><td><%= expenditure.category %></td><td><%= link_to expenditure.price, edit_expenditure_path(expenditure) %></td></tr>
        <% total_price += expenditure.price %> 
      <% end %>
    <% end %>
    <tr><td>合計金額</td><td></td><td><%= total_price %></td></tr>
  </table>
  
  <div class="row text-center">
    <div class="col-md-4 p-3" style="background-color:#ffe0bd"><%= link_to 'カレンダー', root_url %></div>
    <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出追加', new_expenditure_path %></div>
    <div class="col-md-4 p-3" style="background-color:#ffe0ff"><%= link_to '支出一覧', expenditures_path %></div>
  </div>
<% else %>
  <div class="text-center center jumbotron" style="background-color:#ffd">
    <h1>家計簿をつけよう！！</h1>
    <%= link_to '今すぐ登録！', signup_path, class: 'btn btn-lg btn-warning' %>
  </div>
<% end %>
